
@model InfoBook
@{
    ViewData["Title"] = "Create";
}

<main>
    <form method="post" asp-controller="QuanLySach" asp-action="Create" style="width: 50%;">
        <fieldset>
            <legend>Thêm sách mới</legend>
            <div class="form-group">
                <label asp-for="Sach.TenSach" class="form-label mt-4">Tên sách</label>
                <input asp-for="Sach.TenSach" type="text" class="form-control" required id="Sach.TenSach" placeholder="Nhập tên sách">
            </div>
            <div class="form-group">
                <label asp-for="Sach.TacGia.TenTacGia" class="form-label mt-4">Tên tác giả</label>
                <input asp-for="Sach.TacGia.TenTacGia" type="text" class="form-control" required id="Sach.TacGia.TenTacGia" placeholder="Nhập tên tác giả">
            </div>
            <div class="form-group">
                <label asp-for="Sach.TacGia.QuocGia" class="form-label mt-4">Quốc gia</label>
                <input asp-for="Sach.TacGia.QuocGia" type="text" class="form-control" required id="Sach.TacGia.QuocGia" placeholder="Nhập quốc gia">
            </div>
            <div class="form-group">
                <label asp-for="Sach.TheLoai.ID_TheLoai" class="form-label mt-4">Lựa chọn thể loại</label>
                <select asp-for="Sach.TheLoai.ID_TheLoai" asp-items="Model.TheLoaiSelectList" class="form-select" id="Sach.TheLoai.ID_TheLoai">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Sach.GiaTien" class="form-label mt-4">Đơn giá sách</label>
                <input asp-for=Sach.GiaTien type="text" class="form-control" required id="Sach.GiaTien" placeholder="Nhập đơn giá">
            </div>
            <div class="form-group">
                <label asp-for="Sach.SoLuong" class="form-label mt-4">Số lượng sách</label>
                <input asp-for=Sach.SoLuong type="text" class="form-control" required id="Sach.SoLuong" placeholder="Nhập số lượng">
            </div>
            <div class="form-group">
                <label asp-for="Sach.UrlImg" class="form-label mt-4">Chọn đường dẫn ảnh</label>
                <input asp-for="Sach.UrlImg" class="form-control" type="file" required id="Sach.UrlImg">
            </div>
            <div class="mt-3">
                <a asp-controller="QuanLySach" asp-action="Index" class="btn btn-outline-primary" style="margin-right: 4px">Quay lại</a>
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-plus-circle"></i>&nbsp; Create
                </button>
            </div>
        </fieldset>
    </form>
</main>