
@{
    ViewData["Title"] = "Index";
    Layout = "_LoginLayout";
}

<div class="login">
    <h2 class="text-primary">Đăng nhập</h2>
    <form method="post" asp-action="Login">
        <div class="form-group">
            <label for="inputTenDN" class="form-label mt-4">Tên đăng nhập</label>
            <input type="text" class="form-control" id="inputTenDN" name="taikhoan" required placeholder="Nhập tên đăng nhập">
        </div>
        <div class="form-group">
            <label for="inputMK" class="form-label mt-4">Mật khẩu</label>
            <input type="password" class="form-control" id="inputMK" name="matkhau" required placeholder="Nhập mật khẩu" autocomplete="off">
        </div>
        <br />
        <div class="text-end">
            <a href="#!">Quên mật khẩu</a>
        </div>
        <br />
        <div class="text-center">
            <input type="submit" value="Log in" class="btn btn-primary w-100" />
        </div>
    </form>
</div>